@model IEnumerable<ShoppingCartPool>

@{
    ViewBag.Title = "購物車";
    ViewBag.Headtitle = "線上商店 | 購物車";
    ViewBag.HeadtitleSmall = "您好! 可以在這裡檢視購物車裡的商品";
    ViewBag.background = Url.Content("~/images/ShopBanner.jpg");
    ViewBag.background4k = Url.Content("~/images/ShopBanner4k.jpg");
    Layout = "~/Views/Shared/_GolbalLayout.cshtml";
    int Count = 0;
    foreach (var item in Model) { Count = Count + item.Quantity; }
    double? Price = 0; foreach (var item in Model) { Price = Price + item.Products.Price * item.Quantity; }
}

<section>
    <div class="nav navbar-default SecNav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#SmallSecNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="SmallSecNav">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("<繼續購物", "List", "Products")</li>
                    <li><a>訂貨單></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">1.選擇商品|</p></li>
                    <li><p class="navbar-text">>>2.檢視購物車 |</p></li>
                    <li><p class="navbar-text">3.訂貨 |</p></li>
                    <li><p class="navbar-text">4.送出訂單 |</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

@if (Model.Count() == 0)
{
    <div class="Empty">
        <hr />
        <h2> 您的購物車是空的耶，<a asp-action="List" asp-controller="Products">逛逛商店吧></a></h2>
        <hr />
    </div>
}
else
{
    <section>
        <div class="container-fluid">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>
                            <span>商品</span>
                        </th>
                        <th class="SMDeviceOptional">
                            <span>價格</span>
                        </th>
                        <th>
                            <span>數量</span>
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Products.ProductName, "Details", "Products", new { id = item.ProductID })
                            </td>
                            <td class="SMDeviceOptional">
                                <span>@Html.DisplayFor(modelitem => item.Products.Price) </span>
                            </td>
                            <td>
                                <div class="col-xs-6">
                                    <!-- Quanitiy dropdown, using Jquery to subscribe onchange event -->
                                    @Html.DropDownList("url", new SelectList(new[]
         {
                              new SelectListItem { Text = "1", Value = "1" },
                              new SelectListItem { Text = "2", Value = "2" },
                              new SelectListItem { Text = "3", Value = "3" },
                              new SelectListItem { Text = "4", Value = "4" },
                              new SelectListItem { Text = "5", Value = "5" },
                              new SelectListItem { Text = "6", Value = "6" },
                              new SelectListItem { Text = "7", Value = "7" },
                              new SelectListItem { Text = "8", Value = "8" },
                            }, "Value", "Text", item.Quantity), new { @onchange = $"CallOnChange(this.value,{item.ProductID})" /*Change quantity on DropDownList select*/, @class = "form-control input-sm", @id = "Quantity" })
                                </div>
                            </td>
                            <td>
                                @Html.ActionLink("刪除", "MarkDelete", new { id = item.ProductID }, new { @class = "btn btn-default btn-sm" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 Price">
                <h4>@Count.ToString() 個商品</h4>
                <hr />
                <div class="flex">
                    <h4 class=" Total">總計:</h4>
                    <h4 class="Total">@Price.ToString() 元</h4>
                </div>
                @Html.ActionLink("訂貨", "Create", "Orders", null, new { @class = "btn btn-default btn-block" })
            </div>
        </div>
    </section>
    <hr />
}
<script type="text/javascript">


    function CallOnChange(val, id) {
        window.location.href = "/ShoppingCart/UpdateQuantity/" + id + "?Qua=" + val; //calling UpdateQuantity in ShoppingCartController
    }
</script>

<style type="text/css">
    section {
        width: 100%;
        min-height: 25px;
        margin: 0;
        padding: 10px;
        padding-bottom: 0;
    }

    .Empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    span {
        font-size: 15px;
    }

    .table tbody tr td {
        vertical-align: middle;
    }

    td a {
        font-size: 15px;
    }

    .col-xs-6 {
        padding: 0;
    }

    .Price {
        text-align: left;
        border: solid;
        border-width: 2px;
        border-color: lightgray;
        align-items: center;
    }

        .Price hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .Price .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .Price .Total {
            color: saddlebrown;
        }

        .Price a {
            margin-bottom: 6px;
            color: saddlebrown;
        }

    .SecNav {
        background-color: steelblue;
    }

    .navbar-default .navbar-text {
        color: white;
        padding-left: 15px;
    }

    .nav .navbar-nav li a {
        color: white;
    }

        .nav .navbar-nav li a:hover {
            color: gainsboro;
        }


    @@media(max-width:1100px) {
        .Price {
            margin-left: 15px;
            margin-right: 15px;
        }

        .SMDeviceOptional {
            visibility: hidden;
            display: none;
            width: 0;
        }

        .form-control {
            width: auto;
        }
    }
</style>
